.album_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    gap: 20px;
    padding: 20px 0;
    min-height: 100vh; /* 화면의 전체 높이 차지 */
}

.album_card {
    position: relative;
    width: 200px; /* 앨범 이미지 크기 설정 */
    height: 200px; /* 앨범 이미지와 텍스트를 포함한 높이 설정 */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.album_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.album_artwork {
    width: 180px;
    height: 180px;
    cursor: pointer;
    background-color: #eaeaea;
}

.album_details {
    text-align: center;
    padding: 5px;
    width: 100%;
}

.album_title {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.album_artist {
    font-size: 10px;
    color: #777;
}

.album_meta {
    font-size: 8px;
    color: #aaa;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.album_more {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}

.album_card:hover .album_more {
    display: block;
}

.more_menu {
    position: absolute;
    bottom: 30px; /* 버튼 위로 표시 */
    right: 10px;
    width: 150px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
    padding: 10px;
    display: none;
}

.album_more_icon {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.more_menu.active {
    display: block;
}

.more_menu_item {
    padding: 10px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    transition: background 0.2s;
}

.more_menu_item:hover {
    background: #f5f5f5;
}
