.container{
    margin-top: 48px;
}

.album_grid {
    margin-top: -150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px ;
    min-height: 100vh;
}

.album_card {
    position: relative;
    overflow: visible;
}

.album_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.album_artwork {
    width: 180px;
    height: 180px;
    cursor: pointer;
    background-color: #eaeaea;
}

.album_details {
    text-align: center;
    padding: 5px;
    width: 100%;
}

.album_title {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.album_artist {
    font-size: 10px;
    color: #777;
}

.album_meta {
    font-size: 8px;
    color: #aaa;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.album_more {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}

.album_card:hover .album_more {
    display: block;
}

.more_menu {
    z-index: 1000;
}

.more_menu.active {
    display: block !important;
}

.album_card {
    position: relative;
}

.drop_down {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.drop1, .drop2 {
    margin-top: 50px;
}
