.container{
    margin-top: 20px;
    background-color: skyblue;
}
.drop_down{
    height: 50px;
    background-color: gray;
}
.drop1{
    float: left;
    margin-left: 30px;
}
.drop2{
    float: right;
    margin-right: 30px;
}

.table{

}

.page{

}