/*사이드바*/
.listenNetworkSidebar {

}

.sidebarModule {
    display: block;
    margin-bottom: 20px;
}

.sidebarHeader {
    height: 30px;
    color: #999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    text-decoration: none;
}

.sidebarContent {
    min-height: 210.6px;
    padding-top: 5px;
}

.soundBadgeList {

}

.sidebar_right {
    top: 30px;
    width: 300px;
    right: 0;
    position: absolute;
    bottom: auto;
    padding-bottom: 145px;
}

.sc_list_nostyle {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.soundBadgeList_item {
    padding: 5px 0;
}

.soundBadge {
    padding: 0;
    left: -6px;
    margin-right: -6px;
    min-height: 60px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.soundBadge_artwork {
    margin-right: 4px;
    padding: 5px 6px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: transparent 50% / contain no-repeat;
    position: relative;
    float: left;
}

.sidebarHeader_title {
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.sc_media_content {
    margin-top: 4px;
    overflow: hidden;
}

.soundTitle {
    word-break: break-word;
    word-wrap: break-word;
}

.sc_link_primary {
    font-weight: 100;
    height: 1.3em;
    float: left;
    color: #333;
    max-width: 100%;
    box-sizing: border-box;
}

.soundTitle_titleContainer {
    display: flex;
    align-items: flex-start;
}

.image_light_outline {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-image: linear-gradient(135deg, #846170, #8e8485);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
}

.sc_artwork5 {
    background-image: url(https://lh3.googleusercontent.com/2BtMyAIN0grjo0u4jZWw_HOC2BLONjvjnxt4grEPIF1EvThp4vwlkP6Ki4l1S0ILKbPDHFmJK6Lk132D=w120-h120-l90-rj);
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    transition: opacity .2s linear;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.sc_artwork4 {
    background-image: url(https://lh3.googleusercontent.com/4igiWMyX-TCOC4EwsL4hGJz4Z1QVSSLCrqAySMivS_UHkAjGQA7BqCf7iaaDQPSciW1T8xfDeDqP7iLzEA=w120-h120-l90-rj);
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    transition: opacity .2s linear;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.sc_artwork3 {
    background-image: url(https://lh3.googleusercontent.com/XBwSSFEzOgkfXmd3LLWMPrcM3BZL6D3pwYXQFPqgkOfCyaOsABKiKbNnAJMUcv7U_g_AofDvkajg6Mm2Wg=w120-h120-l90-rj);
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    transition: opacity .2s linear;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.sc_artwork2 {
    background-image: url(https://lh3.googleusercontent.com/nvrG1c80EKwWa0xOKnQ-KFqWajfh8bAhn0u5IBRSXQWhS5gwFnu2vMgTw2wQTv4Tmu7CMzTPTI38Q18=w120-h120-l90-rj);
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    transition: opacity .2s linear;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.sc_artwork1 {
    background-image: url(https://lh3.googleusercontent.com/YoQ-A-GOpgeE8tgdF3Rcf5z9V8NIIKjLH6_7X3QphIQUwVHioLu7Ik2wQzU0oCkyNm1TeLDLDYvomJ8=w120-h120-l90-rj);
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    transition: opacity .2s linear;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}
.sc_artwork {
    background-image: url(https://lh3.googleusercontent.com/AUbQLDdIcJulGaHcpEpCucXfleMiRMpJofdQGhtk5PBrjJUrLQuWFOyee-L_WgrFcTk7JSot45_YuEC7CQ=w544-h544-l90-rj);
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    transition: opacity .2s linear;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}
