.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    margin-top: 30px;
}

.formContainer {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    min-height: 600px;
}

.input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.lyrics {
    resize: none;
    width: 740px;
    height: 150px;
    padding: 12px;
    font-size: 14px;
}

.genreDropdown {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
}

.fileInputs {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.fileInputs input {
    width: 48%;
    padding: 60px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.uploadBtn {
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.uploadBtn:hover {
    background-color: #333;
}

.uploadBtnContainer {
    margin-top: 20px;
}

.imagePreviewContainer {
    margin-top: 20px;
    text-align: center;
}

.previewImage {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}
